#testimoni{
    width: 100%;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    .swiper{
        width: 80%;
        height: 400px;
        margin-top: 2rem;
        .swiper-wrapper{
            .swiper-slide{
                background: var(--whiteColor);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2rem 1rem;
                box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
                color: var(--blackColor);
                i{
                    font-size: 40px;
                    color: var(--yellowColor);
                    margin-bottom: 1rem;
                }
                .testimoni-pic{
                    padding: 1rem;
                     img{
                        display: block;
                        margin: 1rem auto;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                     }
                }
            }
        }
    }
}